.main {
    width: 980px;
    height: 455px;
    margin-left: 218px;
    margin-top: 10px;
}

.main .focus {
    position: relative;
    float: left;
    width: 720px;
    height: 455px;
}

.main .focus .left {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    width: 30px;
    height: 40px;
    font-size: 20px;
    font-family: 'icomoon';
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main .focus .right {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    width: 30px;
    height: 40px;
    font-size: 20px;
    font-family: 'icomoon';
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main .focus ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 20px;
    background: rgba(255, 255, 255, .4);
    border-radius: 10px;
}

.main .focus ul li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 4px;
}

.main .focus .color {
    background: #e60012;
}

.main .newsflash {
    float: right;
    width: 251px;
    height: 455px;
    border: 1px solid #e4e4e4;
}

.newsflash .news {
    width: 251px;
    height: 165px;
    border-bottom: 1px solid #e4e4e4;
}

.newsflash .news-hd {
    width: 251px;
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}

.newsflash .news-hd h5 {
    float: left;
}

.newsflash .news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e903';
}

.newsflash .news-bd ul {
    padding-top: 12px;
    padding-left: 15px;
}

.newsflash .news-bd ul li {
    height: 22px;
    line-height: 22px;
}

.newsflash .lifeservice {
    width: 251px;
    height: 210px;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
}

.newsflash .lifeservice ul {
    width: 252px;

}

.newsflash .lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.newsflash .lifeservice ul li:nth-child(1) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -9px -4px;
}

.newsflash .lifeservice ul li:nth-child(2) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -71px -4px;
}

.newsflash .lifeservice ul li:nth-child(3) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -134px -4px;
}

.newsflash .lifeservice ul li:nth-child(4) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -198px -2px;
}

.newsflash .lifeservice ul li:nth-child(5) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -9px -75px;
}

.newsflash .lifeservice ul li:nth-child(6) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -69px -75px;
}

.newsflash .lifeservice ul li:nth-child(7) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -134px -75px;
}

.newsflash .lifeservice ul li:nth-child(8) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -197px -75px;
}

.newsflash .lifeservice ul li:nth-child(9) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -8px -145px;
}

.newsflash .lifeservice ul li:nth-child(10) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -71px -145px;
}

.newsflash .lifeservice ul li:nth-child(11) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -133px -140px;
}

.newsflash .lifeservice ul li:nth-child(12) i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -198px -145px;
}

.newsflash .lifeservice ul li a {
    position: absolute;
    bottom: 5px;
    left: 11px;
    width: 40px;
    height: 20px;
}

.newsflash .bargain {
    margin-top: 5px;
}

.recom {
    height: 163px;
    background: #ebebeb;
    margin-top: 12px;
}

.recom-hd {
    float: left;
    width: 207px;
    height: 163px;
    background: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom-bd ul li {
    position: relative;
    float: left;
    padding-right: 2px;
}

.recom-bd ul li img {
    width: 246px;
    height: 163px;
}

.recom-bd ul li:nth-child(-n+3)::before {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 140px;
    background: #dddddd;
}

.like {
    height: 262px;
    margin-top: 30px;
}

.like-hd {
    height: 30px;
}

.like-hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.like-hd .change {
    float: right;
    line-height: 30px;
}

.like-hd .change::after {
    content: '\e906';
    font-family: 'icomoon';
    line-height: 30px;
    padding-right: 20px;
}

.like-bd {
    width: 1202px;
    height: 232px;
    border: 1px solid #ededed;
}

.like-bd ul li {
    float: left;
    width: 200px;
    height: 232px;
    text-align: center;
    line-height: 232px;
    padding-bottom: 12px;
    border-right: 1px solid #ededed;
    margin-bottom: 20px;
}

.like-bd ul li:first-child {
    line-height: 223px;
}

.like-bd ul li:last-child {
    border-right: 0;
}

.funny {
    height: 437px;
    margin-top: 30px;
}

.funny-hd {
    height: 30px;
}

.funny-hd h3 {
    font-size: 18px;
    font-weight: normal;
}

.funny-bd {
    height: 407px;
    border: 1px solid #ededed;
}

.col-393 {
    float: left;
    width: 393px;
    border-right: 1px solid #ededed;
}

/* .col-393 img {
    width: 100%;
    height: 100%;
} */

.col-227 {
    float: left;
    width: 227px;
    border-right: 1px solid #ededed;
}

.col-227 .top h3 {
    height: 40px;
    width: 195px;
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px dashed #ededed;
}

.col-227 .middle {
    text-align: right;
    padding: 25px 0 15px;
    border-bottom: 1px solid #ededed;
}

.col-227 .bottom {
    text-align: right;
    padding-top: 15px;
}

.col-406 {
    float: left;
    width: 406px;
    border-right: 1px solid #ededed;
    background: #f7f7f7;
}

.col-406 .top h3 {
    height: 40px;
    width: 366px;
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px dashed #ededed;
}

.col-406 .middle {
    text-align: right;
    padding: 25px 0 17px;
    border-bottom: 1px solid #ededed;
}

.col-406 .bottom .bl,
.br {
    float: left;
    width: 202px;
    text-align: right;
    padding-top: 23px;
}

.col-164 {
    float: right;
    width: 172px;
}

/* 楼层模块 */
.floor .w {
    margin-top: 30px;
}

.jiadian .box-hd,
.shouji .box-hd,
.diannao .box-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.jiadian .box-hd h3,
.shouji .box-hd h3,
.diannao .box-hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.jiadian .box-hd ul,
.shouji .box-hd ul,
.diannao .box-hd ul {
    float: right;
}

.jiadian .box-hd ul li,
.shouji .box-hd ul li,
.diannao .box-hd ul li {
    float: left;
    font-size: 12px;
    line-height: 30px;
}

.jiadian .box-hd ul li a,
.shouji .box-hd ul li a,
.diannao .box-hd ul li a {
    display: inline-block;
    padding: 0 13px;
}

.jiadian .box-bd,
.shouji .box-bd,
.diannao .box-bd {
    height: 360px;
}

.tab-list-item>div {
    float: left;
    height: 360px;
}

.col-211 {
    width: 211px;
    background-color: #f9f9f9;
    text-align: center;
}

.col-211 ul {
    padding-left: 13px;
}

.col-211 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 33px;
    margin-right: 13px;
}

.col-211 img {
    display: inline-block;
    margin-top: 25px;
}

.jiadian .col-329 {
    width: 329px;
    padding-top: 37px;
    text-align: center;
    background: #aed6d8;
}

.shouji .col-329 {
    width: 329px;
    padding-top: 37px;
    text-align: center;
    background: #c6e8b6;
}

.diannao .col-329 {
    width: 329px;
    padding-top: 37px;
    text-align: center;
    background: #d7aac9;
}

.col-220 {
    width: 220px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: right;
}

.col-221 {
    width: 221px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
}

.col-221 .mt {
    display: block;
    margin-top: 73px;
}

.col-219 {
    width: 219px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: right;
}

.bb-1 {
    height: 180px;
    border-bottom: 1px solid #ededed;
    padding-top: 23px;
}

.bb-2 {
    height: 180px;
    padding-top: 23px;
}

.pinpai {
    margin-top: 20px;
}

.hot {
    position: relative;
    height: 312px;
}

.hot h3 {
    position: absolute;
    top: 10px;
    left: 4px;
    font-size: 18px;
    font-weight: normal;
}

.hot {
    height: 331px;
    margin-bottom: 30px;
}