.sk {
    position: absolute;
    top: 40px;
    left: 185px;
    border-left: 1px solid #b1191a;
    padding: 3px 0 0 10px;
}

.sk-list {
    float: left;
}

.sk-list ul li {
    float: left;
}

.sk-list ul li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 0 30px;
    text-align: center;
    line-height: 46px;
}

.sk-con {
    float: right;
    padding-right: 40px;
}

.sk-con ul li {
    float: left;
}

.sk-con ul li a {
    display: inline-block;
    font-size: 14px;
    padding: 0 22px;
    text-align: center;
    line-height: 48px;
}

.red {
    color: #b1191a;
}

.sk-con ul li:last-child a::after {
    content: '\e901';
    font-family: icomoon;
}

.sk-hd {
    width: 1200px;
    height: 120px;
    background: url(../upload/sk1.png) no-repeat;
}

.sk-hd p {
    display: inline-block;
    padding: 28px 0 0 560px;
    font-size: 24px;
    font-weight: 700;
    color: #c81523;
}

.sk-hd p::before {
    content: '\e958';
    font-family: icomoon;
    padding-right: 5px;
    font-size: 26px;
}

.sk-bd ul li {
    float: left;
    margin-right: 10px;
    border: 1px solid transparent;
}

.sk-bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk-bd ul li:hover {
    border: 1px solid #b1191a;
}